.brand-logo {
  background: url(http://retentionedge.dynamicresults.com/retentionedge/layouts/default/css/images/header.jpg) no-repeat -35px 0px;
  width: 600px;
}
nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
  height: 93px;
  line-height: 93px;
  background: url(http://retentionedge.dynamicresults.com/retentionedge/layouts/default/css/images/bg_tile_x.jpg) repeat-x;
  padding-top: 5px;
}
nav li a, nav p {
  color: #000;
}
nav p {
  line-height: 20px;
}
#login-content .container {
  width: 70%;
  min-width: 900px;
}
#login-content, #main-content {
  padding-top: 20px;
}
#main-content  .container {
  width: 90%;
  min-width: 900px;
}
#login-content > .container, #main-content > .container {
  border: 3px solid #FF9618;
  min-height: 300px;
  border-radius: 15px;
  padding: 5px;
}
#login-content > .container h1, #main-content > .container h1 {
  font-size: 30px;
  font-weight: bold;
  margin: 10px 0px;
}