body {
	padding: 30px 0px;
}

form span.input-group-addon {
	width: 240px;
	text-align: right;
}

/* global loader */
.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('http://i.stack.imgur.com/FhHRx.gif') 
                50% 50% 
                no-repeat;
    text-align: center;
    vertical-align: middle;

}
.modal b {
	display: table-cell;
	vertical-align: middle;
	padding-top: 70px;
}
body.loading {
    overflow: hidden;   
}
body.loading .modal {
    display: table;
}

/* lists */
.list-group {
    overflow: auto;
    height: 288px;
}